// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

//brand colours
$light-blue: rgba(72, 154, 238, .7);
$pale-blue: rgba(77, 136, 196, 0.7);
$ice-blue:  rgba(169, 204, 240, 0.7);
$pale-ice: rgba(211, 226, 240, 0.7);
$primary: rgb(6, 75, 205);
$primary-soften: rgba(6, 75, 205, .8);
$primary-light: rgba(6, 75, 205, .5);
$secondary: rgba(96, 183, 79, 0.9);
$secondary-light: rgba(96, 183, 79, 0.7);
$black: rgb(27, 23, 23);
$blue-black: rgb(20,31,38);
$darker-grey: rgba(59, 67, 73, 1);
$ice-white:rgba(245,245,245,.5);
$navy-blue:rgb(42,72,128);